.App {
  min-height: 100vh;
  min-height: 100dvh;
  width: min(1200px, 100%);

  margin: auto;
  padding: 20px 20px 60px;
}

/* Header */
.Header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 10px;
}

.Header-btn {
  color: inherit;
  background-color: inherit;
  padding: 8px 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2px;

  border: 1.5px solid var(--gray4);
  border-radius: 5px;

  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

.Header-btn span {
  font-size: 0.6rem;
  margin-top: 3px;
}

/* Title */
.QuizTitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 2rem;
}

.QuizTitle h1 {
  font-size: clamp(1.6rem, 6vw, 2.5rem);
  font-weight: 600;
  text-align: center;
}

.QuizTitle .JavaScriptLogo {
  width: clamp(1.6rem, 5vw, 2.2rem);
  height: clamp(1.6rem, 5vw, 2.2rem);
}

/* Main */
.Main {
  width: min(100%, 580px);
  margin: 0 auto;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Pagination */
.QuizPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.QuizPagination-btn {
  color: var(--bg);
  background-color: var(--fg);
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 100%;
}

.QuizPagination-btn:disabled {
  opacity: 0.2;
}

.QuizPagination span {
  font-size: var(--font-md);
}

/* Quiz */
.Quiz {
  width: inherit;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Question {
  text-wrap: balance;
  font-size: var(--font-md);
}

.CodeBlock {
  position: relative;
}

.Code {
  border: 1.5px solid var(--gray5);
  font-size: var(--font-md);
}

.ClipBoard {
  color: var(--light);
  background-color: #38464cff;
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  padding: 6px 12px;
  margin: 4px 4px 0 0;

  font-size: 0.75rem;
  text-transform: capitalize;

  border: none;
  border-radius: 0.4em;

  transition: background-color 0.1s;
}

.AnswerOptions {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.AnswerOptions-btn {
  color: inherit;
  background-color: var(--gray3);
  padding: 10px 0;

  border: none;
  border-radius: 7px;

  font-size: var(--font-md);
  font-weight: 600;
}

.AnswerOptions-btn:disabled {
  user-select: none;
  pointer-events: none;
}

.AnswerOptions-btn.Opacity {
  color: var(--gray5);
}

/* Quiz Footer */
.QuizFooter {
  width: inherit;
}

.QuizFooterResults {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
}

.QuizFooterResults span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;

  font-size: var(--font-md);
}

.QuizFooterReset {
  margin-top: 28px;
}

.ButtonReset {
  color: inherit;
  background-color: transparent;
  padding: 8px 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;

  border: 1.5px solid var(--gray4);
  border-radius: 5px;

  font-size: 0.75rem;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

/* QuizResult */
.QuizResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;

  padding: 80px 0;
}

.QuizResultScore {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.ThisIsFineMeme {
  width: min(360px, 100%);
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.QuizResultScore p {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: 400;
}

.QuizResult-btn {
  color: var(--fg);
  background-color: var(--bg);
  padding: 8px 18px;

  border: 1.5px solid var(--emphasys);
  border-radius: 5px;

  font-size: 0.75rem;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

/* modal */
.Modal {
  color: var(--fg);
  background-color: var(--gray1);
  width: min(100%, 500px);

  margin: auto;
  padding: 35px;

  border-radius: 10px;
  border: 1px solid var(--gray5);
  line-height: 1.6;
}

.Modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
}

.ModalContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  margin-top: 10px;

  font-size: clamp(0.8rem, 3vw, 0.9rem);
}

.ModalContentTitle {
  color: var(--fg);
  font-size: var(--font-md);
}

.ModalContent p {
  text-wrap: pretty;
  color: var(--gray7);
}

.ModalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.ModalFooter-btn {
  color: var(--fg);
  background-color: transparent;
  padding: 8px 16px;
  margin-top: 10px;

  border-radius: 5px;
  border: 1.5px solid var(--gray4);

  font-weight: 600;
  font-size: 0.75rem;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

/* utilities classes */
.Button-danger {
  color: var(--light);
  background-color: var(--danger);
}
.Button-success {
  color: var(--light);
  background-color: var(--success);
}
.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
}
.IconRefresh {
  margin-bottom: 2px;
}
.QuizResultScore .IconSparkles,
.QuizResultScore .IconIncorrect {
  width: clamp(16px, 4vw, 24px);
  height: clamp(16px, 4vw, 24px);
}

.Highlight {
  color: #b4e1fd;
  display: inline-block;
  background-color: #057dc716;

  margin-top: 2px;
  padding: 1px 4px;
  border-radius: 8px;

  font-size: 0.8rem;
}
[data-theme='light'] .Highlight {
  background-color: transparent;
  color: #136192;
}

.loader {
  width: 30px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--emphasys);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* media queries*/
@media screen and (width < 400px) {
  .ButtonReset,
  .Header-btn {
    width: 100%;
  }

  .ClipBoard {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .AnswerOptions-btn:hover {
    background-color: var(--emphasys);
    color: var(--light);
  }

  .QuizResult-btn:hover,
  .ButtonReset:hover,
  .Header-btn:hover {
    background-color: var(--gray2);
  }

  .ClipBoard:hover {
    background-color: #28373fff;
  }

  .ModalHeader-btn:hover {
    background-color: var(--gray2);
  }

  .ModalFooter-btn:hover {
    background-color: var(--gray2);
  }
}
