.App {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.Container {
  padding: clamp(20px, 5vw, 25px);

  width: min(100%, 1300px);
  margin: auto;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* Header */
.Header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 10px;
}

.Header-btn {
  padding: 8px 18px;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2px;

  background-color: inherit;
  border: 1.5px solid var(--color-gray-70);
  border-radius: 5px;

  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

.Header-btn > span {
  font-size: 0.6rem;
  margin-top: 3px;
}

/* Title */
.QuizTitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 2rem;
}

.QuizTitle > h1 {
  font-size: clamp(1.6rem, 6vw, 2.5rem);
  font-weight: 600;

  text-align: center;
}

.QuizTitle > .JavaScriptLogo {
  width: clamp(1.6rem, 5vw, 2.2rem);
  height: clamp(1.6rem, 5vw, 2.2rem);
}

/* Main */
.Main {
  padding: 20px 0;

  width: min(100%, 580px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Pagination ⏭ */
.QuizPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.QuizPagination-btn {
  color: var(--color-primary);
  background-color: var(--color-alternative);
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
}

.QuizPagination-btn:disabled {
  opacity: 0.2;
}

.QuizPagination > span {
  font-size: var(--font-size-md);
}

/* Quiz 👑 */
.Quiz {
  width: inherit;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Question {
  text-wrap: balance;
  font-size: var(--font-size-md);
}

.CodeBlock {
  position: relative;
}

.Code {
  border: 1.5px solid var(--color-gray-80);
  font-size: var(--font-size-md);
}

.ClipBoard {
  color: var(--color-light);
  background-color: var(--color-dark);
  display: flex;
  padding: 6px 12px;

  position: absolute;
  top: 0;
  right: 0;

  text-transform: capitalize;
  margin: 4px 4px 0 0;
  font-size: 0.75rem;

  border: none;
  border-radius: 0.4em;

  transition: background-color 0.1s;
}

.AnswerOptions {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.AnswerOptions-btn {
  background-color: var(--color-gray-100);
  color: inherit;
  padding: 10px 0;

  border: none;
  border-radius: 7px;

  font-size: var(--font-size-md);
  font-weight: 600;
}

.AnswerOptions-btn:disabled {
  user-select: none;
  pointer-events: none;
}

.AnswerOptions-btn.Opacity {
  color: var(--color-gray-60);
}

/* Quiz Footer 🍟 */
.QuizFooter {
  width: inherit;
}

.QuizFooterResults {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
}

.QuizFooterResults > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;

  font-size: var(--font-size-md);
}

.QuizFooterReset {
  margin-top: 28px;
}

.ButtonReset {
  padding: 8px 18px;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;

  background-color: transparent;
  border: 1.5px solid var(--color-gray-70);
  border-radius: 5px;

  font-size: 0.75rem;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

/* Footer */
.Footer {
  background-color: var(--color-secondary);
  padding: 20px 0;
  color: var(--color-alternative);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0 4px;

  border-top: 1.5px solid var(--color-gray-80);

  font-size: clamp(0.7rem, 3vw, 0.85rem);
}

.Footer-link {
  text-decoration: none;
  color: #b4e1fd;

  background-color: #057dc716;
  border: 0.1px solid #057dc740;
  padding: 1px 5px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;

  transition: color 0.1s;
}

.link {
  color: var(--color-alternative);
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: var(--color-emphasys);
}

/* QuizResult */
.QuizResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px 0;
  gap: 20px 0;
}

.QuizResultScore {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: row wrap;
  gap: 10px;
}

.QuizResultScore > p {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: clamp(0.8rem, 5vw, 1.3rem);
  font-weight: 400;
}

.QuizResult-btn {
  color: var(--color-alternative);
  background-color: var(--color-primary);
  padding: 8px 18px;

  border: 1.5px solid var(--color-emphasys);
  border-radius: 5px;

  font-size: 0.75rem;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

/* modal */
.Modal {
  background-color: var(--color-primary);
  color: var(--color-alternative);
  width: min(100%, 700px);

  margin: auto;
  padding: 30px 40px;

  border-radius: 10px;
  border: 1.5px solid var(--color-emphasys);
  line-height: 1.6;
}

.Modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.ModalTitle {
  color: var(--color-alternative);
  font-size: clamp(1rem, 5vw, 1.8rem);
}

.ModalHeader-btn {
  color: var(--color-danger);
  background-color: transparent;
  padding: 5px;

  display: flex;
  border: none;
  border-radius: 50%;
  transition: background-color 0.1s;
}

.ModalContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  margin-top: 10px;

  font-size: clamp(0.8rem, 3vw, 0.9rem);
}

.ModalContentTitle {
  font-size: var(--font-size-md);
  color: var(--color-emphasys);
}

.ModalContentList {
  padding-left: 22px;
}

.ModalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.ModalFooter-btn {
  padding: 8px 18px;
  color: var(--color-alternative);

  background-color: transparent;
  border: 1.5px solid var(--color-gray-70);
  border-radius: 5px;
  margin-top: 10px;

  font-weight: 600;
  font-size: 0.75rem;
  text-transform: capitalize;

  transition: background-color 0.1s;
}

/* utilities classes 🤟 */
.Button-danger {
  background-color: var(--color-danger);
  color: var(--color-light);
}
.Button-success {
  background-color: var(--color-success);
  color: var(--color-light);
}
.Loading {
  padding: 10px;
}
.Highlight {
  color: #b4e1fd;
  display: inline-block;
  background-color: #057dc716;

  margin-top: 2px;
  padding: 1px 4px;
  border-radius: 8px;
  border: 0.1px solid #057dc740;

  font-size: 0.8rem;
  font-weight: 500;
}
.light .Highlight {
  background-color: #c8dfed;
  color: #136192;
  border: 0.1px solid #a1c0d3;
}
.light .Footer-link {
  color: #04304b;

  background-color: #a8c8db;
  border: 1px solid #4d95c1;
}
.IconRefresh {
  margin-bottom: 2px;
}
.QuizResultScore .IconSparkles,
.QuizResultScore .IconIncorrect {
  width: clamp(16px, 4vw, 24px);
  height: clamp(16px, 4vw, 24px);
}
.ThisIsFineMeme {
  width: min(260px, 100%);
  border-radius: 8px;
  border: 2px solid var(--color-gray-60);
}

/* media queries 😪*/
@media screen and (width < 380px) {
  .ButtonReset,
  .Header-btn {
    width: 100%;
  }

  .ClipBoard {
    display: none;
  }

  .ModalContent > article:nth-child(3) {
    display: none;
  }

  .FooterCredits {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .AnswerOptions-btn:hover {
    background-color: var(--color-emphasys);
    color: var(--color-light);
  }

  .QuizResult-btn:hover,
  .ButtonReset:hover,
  .Header-btn:hover {
    background-color: var(--color-gray-90);
  }

  .ClipBoard:hover {
    background-color: var(--color-darkness);
  }

  .ModalHeader-btn:hover {
    background-color: var(--color-gray-90);
  }

  .ModalFooter-btn:hover {
    background-color: var(--color-gray-90);
  }
}
